* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
}

.beats {
  width: 50%;
  border: 2px solid gray;
  margin: 24px auto ;
  padding: 12px 0;
}

.beatNum {
  text-align: center;
  margin-bottom: 12px;
}

.beatBallsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ball {
  background-color: #bbb;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 4px;
}

.active-ball {
  background-color: rgb(90, 207, 94);
}

.beatsPerMeasureSelectorWrapper {
  bordeR: 2px solid red;
  height: 100px;
  width: 50%;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beatsPerMeasureTitle {
  text-align: center;
  margin-bottom: 12px;
}

.beatsWrapper {
  display: flex;
  justify-content: center;
}

.beatPerMeasure {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  margin-right: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bbb;
  color: #fff;
  font-size: .75em;
}

.beatPerMeasure-active {
  background-color: #4CAF50;
}

.tempoSelectorWrapper {
  bordeR: 2px solid blue;
  height: 160px;
  width: 50%;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tempoTitle {
  text-align: center;
  margin-bottom: 12px;
}

.tempoWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.minus,
.plus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.tempoSlider {
  width: 70%;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.tempoSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.tempoSlider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  background: #4CAF50;
  cursor: pointer;
  border: 0;
}

.tempoDisplayWrapper {
  width: 100%;
}

.tempoDisplay {
  text-align: center;
  font-size: 2em
}

.ticksContainer {
  width: 70%;
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  top: -20px;
}

.ticks {
  width: 30px;
  text-align: center;
  transform: rotate(90deg);
  font-size: .75em;
}

.buttonContainer {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  margin: 0 auto;
  position: relative;
  top: -40px;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.playButton {
  width: 60px;
  height: 60px;
  background-color: #000;
  color: rgb(22, 202, 22);
  border-radius: 50%;
  font-size: 1em;
}

/*  Pendulum  */

.pendulumContainer {
  border: 2px solid black;
  width: 400px;
  height: 700px;
  margin: 24px auto;
  border-radius: 25px;
  background-color: #000;
}

.mainWindow {
  margin: 25px auto 0;
  width: 350px;
  border: 4px solid rgb(156, 156, 156);
  height: 450px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: #000;
  border-bottom: 0;
}

.dashBoard {
  width: 350px;
  border: 4px solid rgb(156, 156, 156);
  height: 154px;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.pendulum {
  width: 5px;
  height: 400px;
  background-color: rgb(79, 176, 255);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: box-shadow 1s ease-in;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.swing {
  box-shadow: 0 0 20px 5px rgb(79, 176, 255);
  transition: box-shadow 1s ease-in;
  transform-origin: bottom;
  animation: swinging ease-in-out forwards infinite; 
  animation-duration: 1500ms; 
  /*  double the milliseconds to sync up to the ticking */
  /* 1000ms is equal to 120bpm (500ms * 2) */
}

@keyframes swinging{
    0%{transform: rotate(22deg);}
    50%{transform: rotate(-22deg)}
    100%{transform: rotate(22deg);}
}




