* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
}

.beats {
  width: 50%;
  border: 2px solid gray;
  margin: 24px auto ;
  padding: 12px 0;
}

.beatNum {
  text-align: center;
  margin-bottom: 12px;
}

.beatBallsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ball {
  background-color: #bbb;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 4px;
}

.active-ball {
  background-color: rgb(90, 207, 94);
}

.beatsPerMeasureSelectorWrapper {
  bordeR: 2px solid red;
  height: 100px;
  width: 50%;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beatsPerMeasureTitle {
  text-align: center;
  margin-bottom: 12px;
}

.beatsWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}

.beatPerMeasure {
  border-radius: 50%;
  margin-right: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
  color: #fff;
}

.beatPerMeasure-active {
  background-color: #4CAF50;
}

.tempoSelectorWrapper {
  bordeR: 2px solid blue;
  height: 160px;
  width: 50%;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tempoTitle {
  text-align: center;
  margin-bottom: 12px;
}

.tempoWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.minus,
.plus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.tempoSlider {
  width: 70%;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.tempoSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.tempoSlider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  background: #4CAF50;
  cursor: pointer;
  border: 0;
}

.tempoDisplayWrapper {
  width: 100%;
}

.tempoDisplay {
  text-align: center;
  font-size: 2em
}

.buttonContainer {
  width: 50%;
  border: 2px solid purple;
  text-align: center;
  margin: 0 auto;
  padding: 16px;
}

.playButton {
  width: 300px;
  height: 60px;
}

/*  Pendulum  */

.pendulumContainer {
  border: 2px solid black;
  width: 400px;
  height: 700px;
  margin: 24px auto;
  border-radius: 25px;
}

.mainWindow {
  width: 100%;
  border: 2px solid red;
  height: 500px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  position: relative;
}

.dashBoard {
  width: 100%;
  border: 2px solid gray;
  height: 200px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}

.pendulum {
  width: 5px;
  height: 400px;
  background-color: blue;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

